{% extends 'base.html' %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Rental_name</th>
            <th>ID</th>
            <th>Checkin</th>
            <th>Checkout</th>
            <th>Previous reservation, ID</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{ object.rental.name }}</td>
            <td>{{ object.pk }}</td>
            <td>{{ object.checkin|date:"Y-m-d" }}</td>
            <td>{{ object.checkout|date:"Y-m-d"}}</td>
            <td>{% if object.prev_res_id %}
                {{ object.prev_res_id }}
                {% else %}
                -
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    {% endblock content %}